.entry {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 0 0;
    font-size: var(--font-size-base);
    font-weight: 400;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-align: left;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1em;
}

.button.active {
    color: inherit;
    text-decoration: none;
}

.button.inactive {
    color: var(--text-disabled-dark);
    text-decoration: line-through;
}

.button[data-bookmark-state='partial'] svg path:first-of-type {
    fill: currentColor;
    opacity: 0.3;
}
