.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  flex-shrink: 0;
}

.result:hover {
  cursor: pointer;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 0;
}

.title {
  color: var(--text-dark);
  font-size: var(--font-size-title);
}

.subtitle {
  color: var(--text-disabled-dark);
  font-size: var(--font-size-mini);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.button {
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-dark);
}
