.searchBar {
    align-self: stretch;
    height: 2.5rem;
    background-color: var(--background-dark-transparent);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacer-mini);
    border-radius: 0.5rem;
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: var(--font-size-title);
    outline: none;
    color: var(--text-dark);
}

.input::placeholder {
    color: var(--text-dark);
    opacity: 0.6;
}
