.searchBar {
    align-self: stretch;
    height: 2.5rem;
    background-color: var(--background-dark-transparent);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 var(--spacer-mini);
    border-radius: 0.5rem;
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: var(--font-size-title);
    outline: none;
    color: var(--text-dark);
}

.input::placeholder {
    color: var(--text-dark);
    opacity: 0.6;
}

.clearButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-dark);
    opacity: 0.6;
    padding-right: 0;
    padding-left: var(--spacer-mini);
}

.clearButton:hover {
    opacity: 1;
}
