.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    display: flex;
    background-color: var(--background-dark-transparent);
    border: none;
    color: var(--text-dark);
    padding: var(--padding-6xs) var(--padding-xl);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: var(--gap-6xs);
    border-radius: 0.5rem 0.5rem 0 0;
    backdrop-filter: blur(0.5rem);
}

.content {
    position: absolute;
    background-color: var(--background-dark-transparent);
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem ;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
    bottom: 150%;
    left: 0;
    animation: panelIn 150ms ease-out both;
    transform-origin: bottom;
    min-width: 100%;
}

@keyframes panelIn {
    from {
        opacity: 0;
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.item {
    color: var(--text-dark);
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--padding-6xs) var(--padding-xl);
    white-space: nowrap;
}

.icon {
    transform: scaleY(1);
    transition: transform 150ms ease-in-out;
}

.icon.upsideDown {
    transform: scaleY(-1);
}