.buttonGroupHorizontal {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    transition: gap 250ms ease;
}

.gap {
    gap: var(--gap-xl);
}

.noGap {
    gap: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    overflow: hidden;
    width: 100%;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--background-dark-transparent);
    border: none;
    color: var(--text-dark);
    font-size: var(--font-size-base);
    padding: 0;
    max-width: 100%;
    white-space: nowrap;
    transition:
        width 250ms ease,
        opacity 250ms ease;
}

.visible {
    opacity: 1;
    width: 100%;
}

.hidden {
    opacity: 0;
    width: 0;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding-6xs);
    width: 100%;
}

.noResult,
.noBookmark {
    color: var(--text-dark);
    font-size: var(--font-size-title);
    font-weight: 600;
}

.noBookmark.subtitle {
    font-weight: 400;
    font-size: var(--font-size-base);
}
