.menu {
    width: 26.25rem;
    top: 10px;
    background-color: var(--background-dark-transparent);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: var(--padding-xl) var(--padding-xl);
    gap: var(--gap-xl);
    font-size: var(--font-size-title);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 3.75rem;
    transform: scaleX(1);
    transform-origin: left;
    transition-property: transform, opacity;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier( 0.0, 0.35, 0.0, 1.0 );
    overflow: hidden;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
    opacity: 1;
}

.closed {
    transform: scaleX(0);
    pointer-events: none;
    opacity: 0.5;
}

/* Mobile Layout*/
@media (max-width: 768px) {
    .menu {
        width: 100%;
        max-width: unset;
        height: 40vh;
        align-self: stretch;
        border-left: none;
        bottom: 3.75rem;
        left: 0;
        transform: translateY(0);
    }

    .closed {
        transform: translateY(100%);
    }
}
