.menu {
    width: 26.25rem;
    top: 10px;
    background-color: var(--background-dark-transparent);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: var(--padding-xl) var(--padding-xl);
    gap: var(--gap-xl);
    font-size: var(--font-size-title);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 3.75rem;
    transform: translateX(0);
    transition: transform 0.2s ease-out;
    overflow: hidden;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
}

.closed {
    transform: translateX(-100%);
    pointer-events: none;
}

/* Mobile Layout*/
@media (max-width: 768px) {
    .menu {
        width: 100%;
        max-width: unset;
        height: 40vh;
        align-self: stretch;
        border-left: none;
        bottom: 3.75rem;
        left: 0;
        transform: translateY(0);
    }

    .closed {
        transform: translateY(100%);
    }
}
