.menuWrapper {
    position: absolute;
    top: var(--spacer-mini);
    left: calc(6 * var(--spacer-mini));
    max-height: calc(100% - 2* var(--spacer-mini));
    width: 25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 25rem;
    height: 50%;
    overflow: auto;
    background-color: var(--background-dark-transparent);
    padding: calc(2 * var(--spacer-mini));
    gap: var(--gap-xl);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0%);
    transform-origin: left;
    transition-property: transform, opacity;
    transition-duration: 0.25s;
    transition:
            transform 0.25s cubic-bezier(0, 0.35, 0, 1),
            opacity 0.25s ease-in;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
    max-height: 100%;
    box-sizing: border-box;
    opacity: 1;
}

.closed {
    transform: translateX(-100%);
    pointer-events: none;
    opacity: 0.85;
}

/* Mobile Layout*/
@media (max-width: 768px) {

    .menuWrapper {
        top: auto;
        width: auto;
        bottom: 0;
        left: 0;
    }

    .menu {
        width: 100%;
        height: 40vh;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .closed {
    }
}
