.navbar {
  align-self: stretch;
  background-color: var(--background-dark);
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.top {
  flex-direction: column;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperLogoFrame {
  width: 2.313rem;
  height: 5rem;
  border-radius: var(--br-3xs);
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFrameIcon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1);
}

.wrapperButtonActive {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  border-radius: var(--br-3xs);
  max-height: 100%;
  height: 2.5rem;
  position: relative;
}

.buttonActiveIcon {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transform: scale(1);
}

.wrapperButtonInactive {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--br-3xs);
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.buttonInactive {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--br-3xs);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: 0.437rem 0.312rem;
  box-sizing: border-box;
}
