.navbar {
    width: calc(4 * var(--spacer-mini));
    margin: var(--spacer-mini);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    align-self: stretch;
    background-color: transparent;
    flex-direction: column;
    justify-content: start;
    gap: var(--gap-3xs);
}

.button,
.caret {
    background: none;
    border: none;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s ease;
    color: var(--text-dark);
    border-radius: 0.5rem;
}

.button.active {
    background-color: transparent;
}

.button.inactive {
    background-color: var(--accent-dark);
}


.caret.inactive {
    transform: scale(-1, 1);
}

/* Mobile Layout*/
@media (max-width: 768px) {
    .navbar {
        display: none;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
        flex-direction: row;
    }

    .caret.active {
        transform: rotate(-90deg);
    }

    .caret.inactive {
        transform: rotate(-90deg) scale(-1, 1);
    }
}
