.navbar {
  align-self: stretch;
  background-color: var(--background-dark);
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: var(--padding-3xs);
}

.button {
  background: none;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s ease;
  color: var(--text-dark);
  border-radius: 0.5rem;
}

.button.active {
  background-color: transparent;
}

.button.inactive {
  background-color: var(--accent-dark);
}

.button.logo {
  height: 3rem;
}

/* Mobile Layout*/
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-xl);
  }

  .button.logo {
    height: 2.5rem;
  }
}
