.overlay {
  position: absolute;
  right: var(--padding-xl);
  top: var(--padding-xl);
  display: flex;
  align-items: center;
  gap: var(--padding-3xs);
  z-index: 1;
}

.button {
  position: relative;
  background: var(--background-dark);
  border: none;
  padding: var(--padding-6xs) var(--padding-3xs);
  font: inherit;
  font-size: var(--font-size-base);
  color: var(--text-dark);
  cursor: pointer;
  text-align: left;
  outline: none;
  overflow: hidden;
  width: fit-content;
}
