.popUp {
  width: 18.75rem;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quitIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1);
}

.subtitle {
  font-size: var(--font-size-mini);
  z-index: 1;
  width: 14.563rem;
  position: relative;
  display: inline-block;
  z-index: 0;
}

.wrapperQuit {
  width: 1.188rem;
  height: 1.188rem;
  margin: 0 !important;
  position: absolute;
  top: 0.613rem;
  right: 0.625rem;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
  display: flex;
}

.wrapperArrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperArrow {
  width: 1.894rem;
  height: 1.031rem;
  position: relative;
  overflow: hidden;
}

.frame {
  align-self: stretch;
  background-color: var(--background-dark);
  border: 2px solid var(--accent-dark);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.062rem var(--padding-xl);
  position: relative;
  gap: var(--gap-8xs);
  overflow: hidden;
  display: flex;
}

.wrapperQuit {
  width: 1.188rem;
  height: 1.188rem;
  margin: 0 !important;
  position: absolute;
  top: 0.613rem;
  right: 0.625rem;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.title {
  width: 14.563rem;
  position: relative;
  display: inline-block;
  z-index: 0;
}
