.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 2.5rem;
    background-color: var(--background-dark-transparent);
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: var(--font-size-title);
    outline: none;
    color: var(--text-dark);
    height: 100%;
    margin: 0 var(--spacer-mini);
}

.input::placeholder {
    color: var(--text-dark);
    opacity: 0.6;
}

.clearButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: stretch;
    color: var(--text-dark);
    opacity: 0.6;
    padding: 0 var(--spacer-mini) 0 0;
}

.clearButton:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .searchBar {
        max-width: 30rem;
    }
}
