.filterMenu {
    position: absolute;
    right: 5rem;
    top: var(--gap-xl);
    width: 15rem;
    z-index: 1000;
    border-left: 2px solid var(--tile-background);
    border-bottom: 2px solid var(--tile-background);
    border-radius: 0.5rem;
    background-color: var(--background-dark-transparent);
    backdrop-filter: blur(1rem);
    box-shadow:
        rgba(0, 0, 0, 0.3) 0 1rem 2rem,
        rgba(0, 0, 0, 0.22) 0 1rem 2rem;
    padding: var(--spacer-mini);
}

.resetButton {
    color: var(--text-disabled-dark-transparent);
    font-size: var(--font-size-base);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.resetButtonTop {
    composes: resetButton;
    padding-bottom: var(--spacer-mini);
}

.resetButtonBottom {
    composes: resetButton;
    padding-top: var(--spacer-mini);
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    color: var(--text-dark);
    cursor: pointer;
}

.buttonLabel {
    font-size: var(--font-size-base);
    font-weight: 400;
    color: var(--text-dark);
    transition: color 0.3s ease;
}

@media (hover: hover) {
    .category:hover .buttonLabel {
        color: var(--theme);
    }
}

@media (max-width: 768px) {
    .filterMenu {
        left: var(--gap-xl);
        right: var(--gap-xl);
        width: auto;
        top: 5rem;
        border-right: 2px solid var(--tile-background);
    }
}
