@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  /* Fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 0.75rem;
  --font-size-base: 1rem;
  --font-size-title: 1.25rem;

  /* Gaps */
  --gap-8xs: 0.312rem;
  --gap-3xs: 0.625rem;
  --gap-xl: 1.25rem;

  /* Paddings */
  --padding-6xs: 0.312rem;
  --padding-3xs: 0.625rem;
  --padding-mini: 0.937rem;
  --padding-lgi: 1.187rem;
  --padding-xl: 1.25rem;
  --padding-31xl: 3.125rem;
  --padding-274xl: 18.312rem;

  /* Border radiuses */
  --br-3xs: 10px;

  /* Figma Variables */

  /* Color Variables */
  --accent-dark: #282828;
  --accent-light: #d6d6d6;
  --background-dark: #0a0a0a;
  --text-dark: #d5d5d5;
  --text-disabled-dark: #505050;
  --theme: #fe28f7;
}

html,
body {
  margin: 0;
  line-height: normal;
  height: 100%;
  font-family: var(--font-inter);
  background: var(--background-dark);
}

/* Overwrite MapLibre GL Popup */
.equinox-popup.maplibregl-popup {
  padding: 0;
  background: none;
  border: none;
}

.equinox-popup .maplibregl-popup-content {
  padding: 0;
  background: transparent;
  border: none;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip,
.maplibregl-popup-anchor-top-left .maplibregl-popup-tip,
.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
  border-bottom-color: var(--background-dark) !important;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip,
.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
  border-top-color: var(--background-dark) !important;
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: var(--background-dark) !important;
}

.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: var(--background-dark) !important;
}
