@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&display=swap');

:root {
    --font-family: Jost;

    /* Gaps */
    --gap-6xs: 0.3125rem;
    --gap-3xs: 0.625rem;
    --gap-xl: 1.25rem;

    /* Paddings */
    --padding-6xs: 0.25rem;
    --padding-3xs: 0.5rem;
    --spacer-mini: 0.75rem;
    --padding-xl: 1.25rem;

    /* Border radi */
    --br-3xs: 10px;

    /* Color Variables */
    --accent-dark: rgba(10, 10, 10, 0.9);
    --accent-dark-transparent: rgba(10, 10, 10, 0.4);
    --accent-light: #d6d6d6;
    --background-dark: rgb(10, 10, 10);
    --background-dark-transparent: rgba(10, 10, 10, 0.65);
    --text-dark: #d5d5d5;
    --text-disabled-dark: #777777;
    --text-disabled-dark-transparent: rgba(213, 213, 213, 0.6);
    --theme: #fe28f7;
    --tile-background: #18252e;
}

html,
body {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    margin: 0;
    font-family: var(--font-family), sans-serif;
    background: var(--tile-background);
}

input,
textarea,
button,
select,
a,
h1,
h2,
h3,
p,
li,
ul {
    font-family: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    list-style-position: inside;
    -webkit-tap-highlight-color: transparent;
    color: var(--text-dark);
}

button,
a {
    transition: color 0.3s ease;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    color: var(--text-disabled-dark);
    font-weight: 400;
}

@media (hover: hover) {
    button:hover,
    a:hover {
        color: var(--theme);
        cursor: pointer;
    }
    button:hover h2,
    button:hover h3 {
        color: var(--theme);
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }
}

/* Overwrite MapLibre GL Popup */
.equinox-popup .maplibregl-popup-content {
    padding: 0;
    background: transparent;
    border: none;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: var(--background-dark-transparent) !important;
}
