.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-inter), sans-serif;
}

.content {
    display: flex;
    padding: calc(2 * var(--spacer-mini));
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--background-dark-transparent);
    overflow: hidden;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    backdrop-filter: blur(0.5rem);
}

.content.noDropdown {
    border-radius: 0.5rem;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    align-self: stretch;
    flex: 1 1 auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-dark) transparent;
    max-height: 6rem;
}

.scroll.noScroll {
    overflow-y: visible;
}

.scroll::-webkit-scrollbar {
    width: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--accent-dark);
    border-radius: 0.25rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--gap-6xs);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.title {
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--text-dark);
}

.subtitle {
    font-size: var(--font-size-mini);
    font-weight: 400;
    color: var(--text-dark);
    line-height: 1rem;
    align-self: stretch;
}