.group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: center;
    justify-content: center;
    padding: 0;
}

@media (max-width: 768px) {
    .group {
        flex-direction: row;
    }
}
